[Unit]
Description=Pi-Garage MQTT Door Control
After=pigpiod.service

[Service]
WorkingDirectory=/home/pi/pi-garage/data
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/pi-garage/app/operateGarage.py -m

[Install]
WantedBy=default.target
